.signup {
  @apply p-10 text-gray-600; 
}
.signup__title {
  @apply text-2xl font-bold mb-4;
}
.signup__advice {
  @apply mb-10;
}
.signup__message {
  @apply rounded p-3 mb-8 text-gray-50 font-medium;
}
.signup__message.success {
  @apply bg-green-800;
}
.signup__message.error {
  @apply bg-red-800;
}
.signup__advice > a {
  @apply text-iagen_magenta font-semibold hover:underline;
}
.signup__form {
  @apply grid grid-cols-2 gap-4;
}
.signup__item {
  @apply mb-8;
}
.signup__item:first-child {
  @apply col-span-2 mt-4;
}
.signup__item:first-child > a {
  @apply mb-3 underline text-gray-500;
}
.signup__item--label {
  @apply font-medium block;
}
.signup input:focus-visible {
  outline: #A6374B;
}
.signup input.signup__item--input {
  @apply w-full py-3 border border-gray-200 shadow-sm focus-visible:border-iagen_magenta rounded-md my-2 px-2;
}
.signup input.signup__item--checkbox {
  @apply appearance-none border-2 align-text-top border-gray-300 p-2 rounded checked:bg-iagen_magenta;
}
.signup__item--select {
  appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
  @apply w-full py-3 border border-gray-200 shadow-sm bg-white rounded-md my-2 px-2;
}
.signup select.signup__item--select > option {
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 100 !important;
  font-style: normal;
  @apply text-gray-600 font-extralight;
}
.signup__item-submit {
  @apply col-start-2;
}
.signup__item--button {
  @apply w-full block py-3 bg-iagen_magenta hover:bg-iagen_magentahover text-white font-semibold rounded-md my-2;
}