#home {
    @apply mb-10;
}
#home > section, #home > header {
    @apply flex flex-row items-center;
}
#home > header h1 {
    @apply text-6xl;
    font-weight: 600;
}
#home h2 {
    @apply text-2xl mt-4 my-2;
    font-weight: 500;
}
#home > header h2 {
    @apply text-4xl;
}
#home section#schedule {
    @apply items-start;
}
#home section#schedule > div {
    @apply p-2;
}
#home h3 {
    font-weight: 500;
    @apply text-xl my-2 bg-orange_unam text-white p-2;
}
#home ul li {
    list-style-type: square;
    @apply ml-4 mb-2;
}
#home > section#institutions {
    @apply flex-none;
}
#institutions ul {
    @apply flex flex-row justify-center items-center;
}
#institutions ul li {
    @apply list-none flex-1 ml-0;
}
#institutions ul li a {
    @apply inline;
}
#institutions img {
    
    display: block
}
.program-item {
    @apply flex flex-row items-center;
}