.jornada-2 img {
  @apply w-full border border-iagen_blue hover:border-iagen_cyan rounded;

}
.hero {
  @apply px-4 md:px-0 md:grid md:grid-flow-row gap-0 my-20 xl:mx-20 grid-cols-4 grid-rows-7 lg:grid-rows-6 xl:grid-rows-5;
}

.video {
  grid-area: 1 / 2 / 5 / 5;
  @apply relative;
}

.description {
  @apply bg-iagen_bluehover/90 md:px-10 md:border md:border-iagen_lightgray flex flex-col justify-center relative mt-10 md:mt-0 md:rounded md:py-4 xl:py-6;
  grid-area: 3 / 1 / 6 / 3;
}
.description--text {
    @apply text-lg xl:text-xl 2xl:text-2xl lg:leading-10;
}

@media screen and (max-width: 1024px) {
  .description {
    grid-area: 3 / 1 / 7 / 3;
  } 
}

@media screen and (max-width: 768px) {
    .description {
      grid-area: 3 / 1 / 8 / 3;
    } 
  }