.submission {
  @apply text-lg leading-8 bg-iagen_lightgrayhover;
}
.submission__header {
  @apply p-6 border-b border-t border-iagen_cyan grid grid-cols-2 bg-iagen_blue;
}
.submission__header > div:last-child {
  @apply text-right;
}
.submission__header h2 {
  @apply text-iagen_lightgray text-3xl font-semibold;
}
.submission__data {
  @apply container mx-auto content-center grid grid-cols-2 gap-4;
}
.submission__data--info {
  @apply text-iagen_purple p-6;
  min-height: calc(100vh - 26rem);
}
.submission__data--info h3 {
  @apply text-2xl text-iagen_purple pb-1 border-b border-iagen_purple font-semibold mb-6;
}
.submission__data--info-form_item {
  @apply py-4;
}
.submission__data--info form {
  @apply block bg-gray-300 p-4 rounded;
}
.submission__data--info-form_item input:focus-visible {
  outline: #451457;
}
.submission__data--info-form_item input {
  @apply block bg-iagen_lightgray w-full py-3 my-2 px-2 border border-gray-200 shadow-sm rounded focus-visible:border-iagen_purple;
}
.submission__data--info-form_item select {
  appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
  @apply w-full py-3 border border-gray-200 shadow-sm bg-white rounded-md my-2 px-2;
}
.submission__data--info-form_item select > option {
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: 100 !important;
  font-style: normal;
  @apply text-gray-600 font-extralight;
}
.submission__data--info-form_item button {
  @apply bg-iagen_purple hover:bg-iagen_purplehover text-iagen_lightgray w-full p-3 rounded;
}
.submission__data--info-form_item-message {
  @apply rounded p-3 text-iagen_lightgray font-medium;
}
.submission__data--info-form_item-message.success {
  @apply bg-green-800;
}
.submission__data--info-form_item-message.error {
  @apply bg-red-800;
}
.submission__data--info ul {
  list-style-type: lower-alpha;
  line-height: 2rem;
  @apply ml-5 mb-6;
}
.submission__data--instructions {
  @apply text-iagen_blue p-6 border-l border-iagen_cyan;
}
.submission__data--instructions h4 {
  @apply text-xl text-iagen_blue pb-1 border-b border-iagen_blue font-semibold mt-1 mb-6;
}
.submission__data--instructions-step h5 {
  @apply text-lg text-iagen_cyan my-4 font-semibold;
}
.submission__data--instructions-step {
  @apply px-2 py-4 border-b border-iagen_cyan;
}
.submission__data--instructions-step ol {
  list-style-type: decimal;
  line-height: 2rem;
  @apply ml-5;
}
.submission__data--instructions-step ul {
  list-style-type: square;
  line-height: 2rem;
  @apply ml-5;
}