@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
  font-stretch: ultra-expanded;
  @apply bg-iagen_blue text-iagen_lightgray;
}
