@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: url("/images/background.jpg") no-repeat center center fixed;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    @apply text-blue_unam;
}